<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 검색 엔진 최적화(SEO) -->
    <meta name="author" content="BEJ">
    <meta name="description" content="JUN's Web Site">

    <!-- http://ogp.me -->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="JUN's Web studio">
    <meta property="og:title" content="JUN's Web studio">
    <meta property="og:description" content="Welcome to JUN's Web studio">
    <meta property="og:image" content="../../../resources/img/visual2.jpg">
    <meta property="og:url" content="http://www.soon9.co.kr">

    <meta property="twitter:card" content="summary">
    <meta property="twitter:site_name" content="JUN's Web studio">
    <meta property="twitter:title" content="JUN's Web studio">
    <meta property="twitter:description" content="Welcome to JUN's Web studio">
    <meta property="twitter:image" content="../../../resources/img/visual2.jpg">
    <meta property="twitter:url" content="http://www.jun54.co.kr">
<title>JUN Studio</title>

<!-- 파비콘 넣기 -->
<link rel="icon" href="../../../resources/siteicon.ico">
<link rel="apple-touch-icon" href="../../../resources/siteicon.ico">

<!-- reset css -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">

<!-- fontawesome css: https://fontawesome.com -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">

<!-- linear icons -->
<!-- https://linearicons.com/free#cdn -->
<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">

<!-- animate css v3.7.0 || https://animate.style -->
<link rel="stylesheet" href="../../../resources/css/animate.min.css">

<!-- slick css || https://kenwheeler.github.io/slick/  -->
<link rel="stylesheet" href="../../../resources/css/slick.css">

<!-- bootstrap css -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- custom css -->
<link rel="stylesheet" href="../../../resources/css/main.css">

<!-- jquery -->
<script src="../../../resources/js/jquery-3.3.1.min.js"></script>

<!-- libraries -->
<!-- scrolla js -->
<script src="../../../resources/js/scrolla.jquery.min.js" defer></script>
<!-- slick js -->
<script src="../../../resources/js/slick.min.js" defer></script>

<!-- bootstrap js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" defer></script>

<!-- custom js -->
<script src="../../../resources/js/config.js" defer></script>
<script src="../../../resources/js/gnb-event.js" defer></script>
<script src="../../../resources/js/scroll-event.js" defer></script>

</head>
<body>
<div class="wrap">
    <header>
    <div class="inner-header">
        <h1 class="logo">
            <a href="/">
                <img src="../../../resources/img/logo.png" alt="로고이미지">
            </a>
        </h1>
        <h2 class="intro-text">어서오세요.환영합니다.
        </h2>
        <a href="#" class="menu-open">
            <span class="menu-txt">MENU</span>
            <span class="lnr lnr-menu"></span>
        </a>
    </div>

    <nav class="gnb">
        <a href="#" class="close">
            <span class="lnr lnr-cross"></span>
        </a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="/free/list">Community</a></li>
            <li><a href="/mroom/mrlist">Room</a></li>	<!-- 회의실 -->
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</header>
    <!-- section visual -->
    <section class="visual">
        <ul class="slide">
            <li>
                <img src="../../../resources/img/main.PNG" alt="슬라이드 이미지1">
                <div class="txt">
                    <p>Creative design with BEJ Studio</p>
                    <h3>ERP Website, <br>Responsive Web and <br>Brand Identity </h3>
                    <a href="#">See the work <span class="lnr lnr-chevron-right"></span></a>
                </div>
                <span class="scroll">Scroll down</span>
            </li>
            <li>
                <img src="../../../resources/img/main2.PNG" alt="슬라이드 이미지1">
                <div class="txt">
                    <p>Creative design with JUN Studio</p>
                    <h3>ERP Website, <br>Responsive Web and <br>Brand Identity </h3>
                    <a href="#">See the work <span class="lnr lnr-chevron-right"></span></a>
                </div>
                <span class="scroll">Scroll down</span>
            </li>
            <li>
                <img src="../../../resources/img/main3.PNG" alt="슬라이드 이미지1">
                <div class="txt">
                    <p>Creative design with JUN Studio</p>
                    <h3>ERP Website, <br>Responsive Web and <br>Brand Identity </h3>
                    <a href="#">See the work <span class="lnr lnr-chevron-right"></span></a>
                </div>
                <span class="scroll">Scroll down</span>
            </li>
            <li>
                <img src="../../../resources/img/main4.PNG" alt="슬라이드 이미지1">
                <div class="txt">
                    <p>Creative design with JUN Studio</p>
                    <h3>ERP Website, <br>Responsive Web and <br>Brand Identity </h3>
                    <a href="#">See the work <span class="lnr lnr-chevron-right"></span></a>
                </div>
                <span class="scroll">Scroll down</span>
            </li>
            <li>
                <img src="../../../resources/img/main5.PNG" alt="슬라이드 이미지1">
                <div class="txt">
                    <p>Creative design with JUN Studio</p>
                    <h3>ERP Website, <br>Responsive Web and <br>Brand Identity </h3>
                    <a href="#">See the work <span class="lnr lnr-chevron-right"></span></a>
                </div>
                <span class="scroll">Scroll down</span>
            </li>
        </ul>
    </section>
    <!-- //section visual -->

     <!--  section contents   -->
     <section class="contents">
        <!-- section contents main-text -->
        <div class="main-text animate" data-animate="fadeInUp" data-duration="1s">
            <h3>Great experience <br> build great brands.</h3>
            <p>다양한 온라인 서비스들을 구축하고 운영해온 풍부한 경험으로<br class="mo">
                UI/UX 기획과 디자인 그리고 구축에서 운영까지, 우리 스튜디오는<br class="mo">
                회사의 비즈니스 관리를 위해 수준 높은 회사의 업무관리 시스템 
                결과물을 제작하는 크리에이티브<br class="mo">
                파트너(Creative Partner) 입니다.
                <span>eui jun BYUN, JUN STUDIO</span>
            </p>
        </div>
        <!-- //section contents main-text -->
        <!-- section contents > .project -->
        <div class="project">
            <div class="top">
                <h3 class="animate" data-animate="fadeInLeft" data-duration="1s" data-delay="0.5s">Meet <br>Out Projects</h3>
                <a href="#">erp Projects
                    <span class="lnr lnr-chevron-right"></span>
                </a>
            </div>
            <ul class="animate" data-animate="fadeInUp" data-duration="1s">
                <li>
                    <a href="#">
                        <img src="../../../resources/img/project1.jpg" alt="project1">
                        <div class="name">
                            <span>Website</span>
                            <h3>Linkin Aviation</h3>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../../resources/img/project2.jpg" alt="project2">
                        <div class="name">
                            <span>Website</span>
                            <h3>HEESUNG LMS</h3>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../../resources/img/project3.png" alt="project3">
                        <div class="name">
                            <span>Website</span>
                            <h3>ORPHAN</h3>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../../resources/img/project4.jpg" alt="project4">
                        <div class="name">
                            <span>Website</span>
                            <h3>APMA WEB/APP</h3>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <!-- section contents > .project-->

        <!-- section contents > .partner -->
        <div class="partner">
            <h3>우리의 소중한 고객입니다.</h3>
            <ul class="animate" data-animate="fadeInRight" data-duration="1s">
                <li><img src="../../../resources/img/partner1.png" alt=""></li>
                <li><img src="../../../resources/img/partner2.png" alt=""></li>
                <li><img src="../../../resources/img/partner3.png" alt=""></li>
                <li><img src="../../../resources/img/partner4.png" alt=""></li>
                <li><img src="../../../resources/img/partner5.png" alt=""></li>
                <li><img src="../../../resources/img/partner6.png" alt=""></li>
                <li><img src="../../../resources/img/partner7.png" alt=""></li>
                <li><img src="../../../resources/img/partner8.png" alt=""></li>
            </ul>
        </div>

        <!-- section contents > .contact -->
        <div class="contact animate" data-animate="fadeIn" data-duration="2s" data-delay="0.5s">            
            <div class="inner">
                <h3>당신의 프로젝트를 이야기해 주세요.</h3>
                <p class="tel">010.6757.0781</p>
                <p>모바일 앱/웹 디자인 및 웹 표준화 작업 <br> UI/UX설계 및 제안서 작성<br> ERP 시스템 웹사이트 구축 등을 제공합니다.</p>
            </div>
        </div>
    </section>
    <!--  //section contents   -->
    <footer>
    <ul>
        <li>JUN Studio</li>
        <li>
            <span>A :</span>양주시 광사동 주내신도8차<br>
            <span>T :</span>010.6757.0781<br>
            <span>E :</span>dmlwns6757@gmail.com<br>
        </li>
        <li> &#xa9 JUN Studio 2023 <br>All Rights Reseved</li>
    </ul>
    <a href="#top" class="go-top"><span class="lnr lnr-arrow-up"></span></a>
</footer>
</div>
</body>
</html>